APP_MVC_GStore/Connected Services/ReferenciaProductos/ServicioProductos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53297/ServicioProductos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTB_Producto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_Producto" nillable="true" type="tns:TB_Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_Producto" nillable="true" type="tns:ArrayOfTB_Producto" />
  <xs:complexType name="TB_Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="TB_Carrito" nillable="true" type="tns:ArrayOfTB_Carrito" />
      <xs:element minOccurs="0" name="TB_Categoria" nillable="true" type="tns:TB_Categoria" />
      <xs:element minOccurs="0" name="TB_DetalleComprobante" nillable="true" type="tns:ArrayOfTB_DetalleComprobante" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="idProd" type="xs:int" />
      <xs:element minOccurs="0" name="nomProd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_Producto" nillable="true" type="tns:TB_Producto" />
  <xs:complexType name="ArrayOfTB_Carrito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_Carrito" nillable="true" type="tns:TB_Carrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_Carrito" nillable="true" type="tns:ArrayOfTB_Carrito" />
  <xs:complexType name="TB_Carrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="TB_Producto" nillable="true" type="tns:TB_Producto" />
      <xs:element minOccurs="0" name="cantidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idCarrito" type="xs:int" />
      <xs:element minOccurs="0" name="idprod" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_Carrito" nillable="true" type="tns:TB_Carrito" />
  <xs:complexType name="TB_Categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="TB_Producto" nillable="true" type="tns:ArrayOfTB_Producto" />
      <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="nomCategoria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_Categoria" nillable="true" type="tns:TB_Categoria" />
  <xs:complexType name="ArrayOfTB_DetalleComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_DetalleComprobante" nillable="true" type="tns:TB_DetalleComprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_DetalleComprobante" nillable="true" type="tns:ArrayOfTB_DetalleComprobante" />
  <xs:complexType name="TB_DetalleComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TB_ComprobantePago" nillable="true" type="tns:TB_ComprobantePago" />
      <xs:element minOccurs="0" name="TB_Producto" nillable="true" type="tns:TB_Producto" />
      <xs:element minOccurs="0" name="idComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="numDetalle" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_DetalleComprobante" nillable="true" type="tns:TB_DetalleComprobante" />
  <xs:complexType name="TB_ComprobantePago">
    <xs:sequence>
      <xs:element minOccurs="0" name="Destinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TB_DetalleComprobante" nillable="true" type="tns:ArrayOfTB_DetalleComprobante" />
      <xs:element minOccurs="0" name="TB_Usuario" nillable="true" type="tns:TB_Usuario" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaCompra" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idComprobante" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_ComprobantePago" nillable="true" type="tns:TB_ComprobantePago" />
  <xs:complexType name="TB_Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="TB_ComprobantePago" nillable="true" type="tns:ArrayOfTB_ComprobantePago" />
      <xs:element minOccurs="0" name="TB_Direcciones" nillable="true" type="tns:ArrayOfTB_Direcciones" />
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoactivacion" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="contra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailverficiado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_Usuario" nillable="true" type="tns:TB_Usuario" />
  <xs:complexType name="ArrayOfTB_ComprobantePago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_ComprobantePago" nillable="true" type="tns:TB_ComprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_ComprobantePago" nillable="true" type="tns:ArrayOfTB_ComprobantePago" />
  <xs:complexType name="ArrayOfTB_Direcciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_Direcciones" nillable="true" type="tns:TB_Direcciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_Direcciones" nillable="true" type="tns:ArrayOfTB_Direcciones" />
  <xs:complexType name="TB_Direcciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="TB_Usuario" nillable="true" type="tns:TB_Usuario" />
      <xs:element minOccurs="0" name="idDireccion" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nomCiudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomDireccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomDistrito" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_Direcciones" nillable="true" type="tns:TB_Direcciones" />
</xs:schema>