APP_MVC_GStore/Connected Services/ReferenciaProductos/ServicioProductos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53297/ServicioProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF.Model" />
  <xs:element name="Productos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF.Model" minOccurs="0" name="ProductosResult" nillable="true" type="q1:ArrayOfTB_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF.Model" minOccurs="0" name="obj" nillable="true" type="q2:TB_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaProductoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF.Model" minOccurs="0" name="obj" nillable="true" type="q3:TB_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaProductoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaProductoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>