APP_MVC_GStore/Connected Services/ReferenciaProductoAdm/ServicioProductos3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53297/ServicioProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/APP_MVC_Datos.Model" />
  <xs:import schemaLocation="http://localhost:53297/ServicioProductos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF" />
  <xs:element name="Productos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/APP_MVC_Datos.Model" minOccurs="0" name="ProductosResult" nillable="true" type="q1:ArrayOfusp_Admin_ListarProducto_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF" minOccurs="0" name="obj" nillable="true" type="q2:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaProductoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF" minOccurs="0" name="obj" nillable="true" type="q3:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaProductoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaProductoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Categorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/APP_MVC_Datos.Model" minOccurs="0" name="CategoriasResult" nillable="true" type="q4:ArrayOfusp_ListarCategoria_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF" minOccurs="0" name="obj" nillable="true" type="q5:Categoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaCategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF" minOccurs="0" name="obj" nillable="true" type="q6:Categoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaCategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaCategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>