APP_MVC_GStore/Connected Services/ReferenciaProductoAdm/ServicioProductos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioProductos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53297/ServicioProductos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53297/ServicioProductos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53297/ServicioProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/APP_MVC_Datos.Model" />
      <xsd:import schemaLocation="http://localhost:53297/ServicioProductos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioProductos_Productos_InputMessage">
    <wsdl:part name="parameters" element="tns:Productos" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_Productos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_InsertaProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaProducto" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_InsertaProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_ActualizaProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaProducto" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_ActualizaProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_EliminaProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaProducto" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_EliminaProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_Categorias_InputMessage">
    <wsdl:part name="parameters" element="tns:Categorias" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_Categorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_InsertaCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_InsertaCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_ActualizaCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_ActualizaCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_EliminaCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminaCategoria" />
  </wsdl:message>
  <wsdl:message name="IServicioProductos_EliminaCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminaCategoriaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioProductos">
    <wsdl:operation name="Productos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProductos/Productos" message="tns:IServicioProductos_Productos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProductos/ProductosResponse" message="tns:IServicioProductos_Productos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProductos/InsertaProducto" message="tns:IServicioProductos_InsertaProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProductos/InsertaProductoResponse" message="tns:IServicioProductos_InsertaProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProductos/ActualizaProducto" message="tns:IServicioProductos_ActualizaProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProductos/ActualizaProductoResponse" message="tns:IServicioProductos_ActualizaProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProductos/EliminaProducto" message="tns:IServicioProductos_EliminaProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProductos/EliminaProductoResponse" message="tns:IServicioProductos_EliminaProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProductos/Categorias" message="tns:IServicioProductos_Categorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProductos/CategoriasResponse" message="tns:IServicioProductos_Categorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertaCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProductos/InsertaCategoria" message="tns:IServicioProductos_InsertaCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProductos/InsertaCategoriaResponse" message="tns:IServicioProductos_InsertaCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProductos/ActualizaCategoria" message="tns:IServicioProductos_ActualizaCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProductos/ActualizaCategoriaResponse" message="tns:IServicioProductos_ActualizaCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminaCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProductos/EliminaCategoria" message="tns:IServicioProductos_EliminaCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProductos/EliminaCategoriaResponse" message="tns:IServicioProductos_EliminaCategoria_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioProductos" type="tns:IServicioProductos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Productos">
      <soap:operation soapAction="http://tempuri.org/IServicioProductos/Productos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaProducto">
      <soap:operation soapAction="http://tempuri.org/IServicioProductos/InsertaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaProducto">
      <soap:operation soapAction="http://tempuri.org/IServicioProductos/ActualizaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaProducto">
      <soap:operation soapAction="http://tempuri.org/IServicioProductos/EliminaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <soap:operation soapAction="http://tempuri.org/IServicioProductos/Categorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioProductos/InsertaCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioProductos/ActualizaCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminaCategoria">
      <soap:operation soapAction="http://tempuri.org/IServicioProductos/EliminaCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProductos">
    <wsdl:port name="BasicHttpBinding_IServicioProductos" binding="tns:BasicHttpBinding_IServicioProductos">
      <soap:address location="http://localhost:53297/ServicioProductos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>