APP_MVC_GStore/Connected Services/ReferenciaProductoAdm/ServicioProductos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/APP_MVC_Datos.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/APP_MVC_Datos.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_Admin_ListarProducto_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Admin_ListarProducto_Result" nillable="true" type="tns:usp_Admin_ListarProducto_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Admin_ListarProducto_Result" nillable="true" type="tns:ArrayOfusp_Admin_ListarProducto_Result" />
  <xs:complexType name="usp_Admin_ListarProducto_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idProd" type="xs:int" />
      <xs:element minOccurs="0" name="nomCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomProd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Admin_ListarProducto_Result" nillable="true" type="tns:usp_Admin_ListarProducto_Result" />
  <xs:complexType name="ArrayOfusp_ListarCategoria_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_ListarCategoria_Result" nillable="true" type="tns:usp_ListarCategoria_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_ListarCategoria_Result" nillable="true" type="tns:ArrayOfusp_ListarCategoria_Result" />
  <xs:complexType name="usp_ListarCategoria_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="nomCategoria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_ListarCategoria_Result" nillable="true" type="tns:usp_ListarCategoria_Result" />
</xs:schema>