APP_MVC_GStore/Connected Services/ReferenciaProductoAdm/ServicioProductos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/APP_MVC_ServicioWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="idProd" type="xs:int" />
      <xs:element minOccurs="0" name="nomProd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="Categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="nomCategoria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categoria" nillable="true" type="tns:Categoria" />
</xs:schema>